<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Archived Mail</h1>
<p>
  The following mail was archived by Mailslave:
</p>
<h2>
  <%= @subject %>
</h2>
<p>from: <%= @from %> </p>
<p>(see attachment for mail source)</p>
<p><strong>Please rename the extension from .xeml to .eml (due to a bug eml files cannot be transferred)</strong></p>
</body>
</html>