/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require main
 *= require layout
 *= require datatables
 */

ul.pagination{
    border: 1px solid grey;
    border-radius: 8px;
    border-width: 2px 0px 2px 0px;
    margin: 0.2em;
}
.pagination li {
    color: black;
    font-weight: bold;
    padding: 0.2em;
    margin: 0.2em;
}

.pagination li a{
    color: black;
}

.pagination li.active a{
    color: grey;
}
